body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

header {
    background: #335294;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

main {
    padding: 2rem;
    text-align: center;
}

.index {
    background-color: #ffffff;
}

.afup {
    background-color: #efefff;
}

nav {
    background: #50A0DC;
    padding: 0.2rem 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li a {
    background-color: #335294;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color: #f4f4f4;
    box-shadow: 0 0 8px 0px #335294;
    color: #303030;
}

nav a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav .current > a {
    color: yellow;
    background-color: #303030;
}
